force-app/main/default/flows/Website_Referral_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Referral_Email_Provided</name>
        <label>Referral Email Provided?</label>
        <locationX>1003</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Referral_Lead_No_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Referral_Email_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Referral_Contact</targetReference>
            </connector>
            <label>Email Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Found_as_Contact</name>
        <label>Referral Found as Contact?</label>
        <locationX>706</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Find_Referral_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Referral_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Contact</targetReference>
            </connector>
            <label>Referral Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Found_as_Lead</name>
        <label>Referral Found as Lead?</label>
        <locationX>904</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Create_Referral_Lead_With_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Referral_Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Lead</targetReference>
            </connector>
            <label>Referral Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referrer_Found_as_Contact</name>
        <label>Referrer Found as Contact?</label>
        <locationX>1003</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Find_Referrer_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Referrer_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferrerContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Referral_Email_Provided</targetReference>
            </connector>
            <label>Referrer Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referrer_Found_as_Lead</name>
        <label>Referrer Found as Lead?</label>
        <locationX>1135</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Create_Referrer_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Referrer_Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferrerLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Referral_Email_Provided</targetReference>
            </connector>
            <label>Referrer Lead Found</label>
        </rules>
    </decisions>
    <description>Screen flow for website referrals - collects referrer and referral info, creates/updates records with Executive Education record type</description>
    <environments>Default</environments>
    <formulas>
        <name>formReferralCompany</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Referral_Company}), &quot;Not Provided&quot;, {!Referral_Company})</expression>
    </formulas>
    <formulas>
        <name>formReferralFirstName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Referral_Name}, &quot; &quot;), LEFT({!Referral_Name}, FIND(&quot; &quot;, {!Referral_Name}) - 1), {!Referral_Name})</expression>
    </formulas>
    <formulas>
        <name>formReferralLastName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Referral_Name}, &quot; &quot;), RIGHT({!Referral_Name}, LEN({!Referral_Name}) - FIND(&quot; &quot;, {!Referral_Name})), &quot;NotProvided&quot;)</expression>
    </formulas>
    <formulas>
        <name>formReferralNote</name>
        <dataType>String</dataType>
        <expression>&quot;Referred by: &quot; &amp; {!Referrer_Name} &amp; &quot; (&quot; &amp; {!Referrer_Email} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>formReferrerFirstName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Referrer_Name}, &quot; &quot;), LEFT({!Referrer_Name}, FIND(&quot; &quot;, {!Referrer_Name}) - 1), {!Referrer_Name})</expression>
    </formulas>
    <formulas>
        <name>formReferrerLastName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Referrer_Name}, &quot; &quot;), RIGHT({!Referrer_Name}, LEN({!Referrer_Name}) - FIND(&quot; &quot;, {!Referrer_Name})), &quot;NotProvided&quot;)</expression>
    </formulas>
    <interviewLabel>Website Referral Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Website Referral Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral_Lead_No_Email</name>
        <label>Create Referral Lead (No Email)</label>
        <locationX>1300</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>varReferralLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>formReferralCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formReferralNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>formReferralFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formReferralLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012d0000000XRiCAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Lead_With_Email</name>
        <label>Create Referral Lead (With Email)</label>
        <locationX>1202</locationX>
        <locationY>1561</locationY>
        <assignRecordIdToReference>varReferralLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>formReferralCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formReferralNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Referral_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>formReferralFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formReferralLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012d0000000XRiCAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referrer_Lead</name>
        <label>Create Referrer Lead</label>
        <locationX>1308</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>varReferrerLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Referral_Email_Provided</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Not Provided</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Referrer_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>formReferrerFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formReferrerLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012d0000000XRiCAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Referral_Contact</name>
        <label>Find Referral Contact</label>
        <locationX>717</locationX>
        <locationY>1057</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Found_as_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referral_Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varReferralContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Referral_Lead</name>
        <label>Find Referral Lead</label>
        <locationX>904</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Found_as_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referral_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varReferralLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Referrer_Contact</name>
        <label>Find Referrer Contact</label>
        <locationX>1003</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referrer_Found_as_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referrer_Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varReferrerContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Referrer_Lead</name>
        <label>Find Referrer Lead</label>
        <locationX>1135</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referrer_Found_as_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referrer_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varReferrerLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Contact</name>
        <label>Update Referral Contact</label>
        <locationX>435</locationX>
        <locationY>1313</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formReferralNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred__c</field>
            <value>
                <elementReference>Referral_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Lead</name>
        <label>Update Referral Lead</label>
        <locationX>709</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_Email__c</field>
            <value>
                <elementReference>Referral_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formReferralNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Referral_Form_Screen</name>
        <label>Submit a Referral</label>
        <locationX>1003</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Referrer_Contact</targetReference>
        </connector>
        <fields>
            <name>Referrer_Name</name>
            <dataType>String</dataType>
            <fieldText>Your Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter your full name</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Referrer_Email</name>
            <dataType>String</dataType>
            <fieldText>Your Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter your email address</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Referral_Name</name>
            <dataType>String</dataType>
            <fieldText>Referral Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the name of the person you&apos;re referring</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Referral_Company</name>
            <dataType>String</dataType>
            <fieldText>Referral Company</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the referral&apos;s company name</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Referral_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the referral&apos;s email address</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You</label>
        <locationX>1003</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>Thank you for your referral! We appreciate you thinking of us.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>877</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Referral_Form_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varReferralContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferralLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferrerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferrerLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
